<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Форма Django!</title>
        <style> 
            .alert{color:red} 
            .myfield{ 
                border:2px solid #ccc; 
                border-radius:5px; 
                height:25px; 
                width:200px; 
                margin: 10px 10px 10px 0; 
            } 
        </style>
<!--        <style>
            .field{font-weight:bold;} 
            .error{color:red;}
        </style>
        <style> 
           .alert{color:red} 
            .form-group{margin: 10px 0;} 
            .form-group input{width:250px;height: 25px;border-radius:10px;}
        </style> 
    </head>
    <body>
        <form method="POST" novalidate></form>
        {% csrf_token %} 
            <table> 
                {{form}} 
            </table> 
            <input type="submit" value="Оправить" > 
        </form> 
        <form method="POST">
            {% csrf_token %}           
        <table>
            {{ form }}
        </table>
            <input type="submit" value="Оправить" >
        </form> -->
        <h2>Форма</h2>
        <form method="POST" novalidate> 
            {% csrf_token %} 
            <div class="form-group"> 
                {% for field in form %} 
                    <div>{{field.label_tag}}</div> 
                    <div>{{field}}</div> 
                    {% if field.errors%} 
                    {% for error in field.errors %} 
                    <div class="alert alert-danger"> 
                         {{error}} 
                    </div> 
                    {% endfor %} 
                   {% endif %} 
                {% endfor %} 
            </div> 
            <input type="submit" value="Оправить"> 
        </form>  
<!--            <h2>Форма как список</h2> 
        <form method="POST"> 
            {% csrf_token %} 
            <ul> 
                {{ form.as_ul  }} 
            </ul> 
            <input type="submit" value="Оправить" > 
        </form> 
        <h2>Форма как параграф</h2> 
        <form method="POST"> 
            {% csrf_token %} 
            <div> 
                {{ form.as_p  }} 
            </div> 
            <input type="submit" value="Оправить" > 
        </form> -->
    </body>
</html>


